.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(38, 0, 255, 0.6); 
    padding: 20px;
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(255, 0, 150, 0.8); 
  }
  
  .content {
    max-width: 600px;
  }
  
h1 {
    color: #fff; /* Color blanco para el título */
  }
  
  p {
    color: #ffffff; /* Color gris oscuro para el texto */
    margin: 10px 0;
  }
  
  img {
    width: 300px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
  }