.container {
    background-color: rgba(255, 255, 255, 0.8); /* Color semitransparente */
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: auto;
    margin-top: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Color del texto */
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 5px;
  }
  
  .checkbox {
    margin-bottom: 15px;
  }
  
  button {
    color: rgba(255, 0, 0, 0.767); 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049; }

    p{
      background-color: #030303;
      color: rgb(255, 255, 255);
      border: #ccc solid 1px;
    }
  