.searchBarContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #ff0000; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    transition: background-color 0.3s ease; 
  }
  
  .searchBarContainer:hover {
    background-color: #fc451c; 
  }
  
  .inputContainer {
    flex-grow: 1; 
  }

  .inputContainer button{
    background-color: #1877f2; 
    color: #fff;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  input[type="search"] {
    width: 100%; 
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  .buttonContainer {
    display: flex;
    gap: 1rem;
  }
  
  .buttonContainer button {
    background-color: #1877f2; 
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .buttonContainer button:hover {
    background-color: #155d90; 
  }
  